@import 'src/app/core/shared/styles/breakpoints';

.header__container {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: lightskyblue;
  height: 80px;
  display: flex;
  justify-content: center;
  // center child element(s)
  & > div {
    flex-grow: 1;
  }
  // secret buffer underneath header
  & + div {
    height: 0;
    width: 100%;
    margin-top: 80px;
  }
}

.header__content {
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  // breakpoint handling
  @include xl {
    padding: 0;
  }
}

.header__title {
  color: #fff;
  line-height: 0;
  font-weight: normal;
  pointer-events: none;
}

.header__actions {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header__action-button {
  flex: 1 0 auto;
  height: 30px;
  width: 30px;
  &:not(:last-child) {
    margin-right: 15px;
  }
}
